<?xml version="1.0"?>
<config>
	<modules>
		<Drazen_Address>
			<version>0.1.1</version>
		</Drazen_Address>
	</modules>

	<global>
		<models>
			<drazen_address>
				<class>Drazen_Address_Model</class>
				<resourceModel>drazen_address_resource</resourceModel>
			</drazen_address>
			<drazen_address_resource>
				<class>Drazen_Address_Model_Resource</class>
				<entities>
					<address>
						<table>drazen_address_address</table>
					</address>
				</entities>
			</drazen_address_resource>
		</models>
		<blocks>
			<drazen_address_adminhtml>
				<class>Drazen_Address_Block_Adminhtml</class>
			</drazen_address_adminhtml>
			<drazen_address>
				<class>Drazen_Address_Block</class>
			</drazen_address>
		</blocks>
		<helpers>
			<drazen_address>
				<class>Drazen_Address_Helper</class>
			</drazen_address>
		</helpers>
		<resources>
			<drazen_address_setup>
				<setup>
					<module>Drazen_Address</module>
				</setup>
			</drazen_address_setup>
		</resources>
	</global>

	<admin>
		<routers>
			<drazen_address_admin>
				<use>admin</use>
				<args>
					<module>Drazen_Address_Adminhtml</module>
					<frontName>office-admin</frontName>
				</args>
			</drazen_address_admin>
		</routers>
	</admin>

	<frontend>
		<routers>
			<drazen_address>
				<use>standard</use>
				<args>
					<module>Drazen_Address</module>
					<frontName>address</frontName>
				</args>
			</drazen_address>
		</routers>
		<layout>
			<updates>
				<address>
					<file>drazen.xml</file>
				</address>
			</updates>
		</layout>
	</frontend>
</config>