<?xml version="1.0"?>
<config>
	<modules>
		<Drazen_Adress>
			<version>0.1.0</version>
		</Drazen_Adress>
	</modules>

	<global>
		<models>
			<drazen_adress>
				<class>Drazen_Adress_Model</class>
				<resourceModel>drazen_adress_resource</resourceModel>
			</drazen_adress>
			<drazen_adress_resource>
				<class>Drazen_Adress_Model_Resource</class>
			</drazen_adress_resource>
		</models>
		<blocks>
			<drazen_adress>
				<class>Drazen_Adress_Block</class>
			</drazen_adress>
		</blocks>
		<helpers>
			<drazen_adress>
				<class>Drazen_Adress_Helper</class>
			</drazen_adress>
		</helpers>
		<resources>
			<drazen_adress_setup>
				<setup>
					<module>Drazen_Adress</module>
				</setup>
			</drazen_adress_setup>
		</resources>
	</global>

	<frontend>
		<routers>
			<drazen_adress>
				<use>standard</use>
				<args>
					<module>Drazen_Adress</module>
					<frontName>adress</frontName>
				</args>
			</drazen_adress>
		</routers>
	</frontend>
</config>